// type your sass here
%reset-Button 
    border: none
    margin: 0
    padding: 0
    width: auto
    overflow: visible

    background: transparent

    /* inherit font & color from ancestor */
    color: inherit
    font: inherit

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit
    -moz-osx-font-smoothing: inherit

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none

// /* Remove excess padding and border in Firefox 4+ */
  // &::-moz-focus-inner
  //   border: 0
  //   padding: 0

body
  margin: 0

img
  width: 100%

.header
  opacity: 0.98
  background-color: #eff0f2
  // padding-top: 184px / 926px * 100vh
  padding-top: 64px
  padding-bottom: 195px / 926px * 100vh
  // padding-bottom: 195px
  // margin: 0 auto

.navbar
  display: flex
  // justify-content: space-between
  // width: 1138px / 1549px * 100%
  // margin: 0 auto
  align-items: center
  margin-bottom: 206px / 926px * 100vh

.header-logo 
  width: 113px
  opacity: 0.74
  font-family: 'Montserrat', sans-serif 
  font-size: 17px
  line-height: 28px
  font-weight: 400
  text-transform: uppercase
  letter-spacing: 0.12em
  color: #000000
  border: 5.6px solid #170f1c
  margin-left: 199px / 1549px * 100%
  text-align: center

  span
    color: #77efe5
    font-size: 21px

.header-bar
  margin-left: auto
  margin-right: 212px / 1549px * 100%
  cursor: pointer

.header-title
  font-family: 'Montserrat', sans-serif
  font-size: 45px
  line-height: 28px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 0.06em
  color: #505050
  text-align: center
  
  margin: 0 15px 150px / 926px * 100vh

  span
    background-color: #76f4ea

.header-button
  @extends %reset-button
  background-color: inherit
  display: block
  margin: 0 auto
  opacity: 0.5
  border: 2.0px solid #000000
  border-radius: 2.0px
  padding: 20px 48px
  // opacity: 0.74
  font-family: 'Montserrat', sans-serif
  font-size: 18px
  line-height: 28px
  font-weight: 400
  text-transform: uppercase
  letter-spacing: 0.12em
  color: #000000
  cursor: pointer

  &:hover
    background-color: darken(#eff0f2, 15%)

@media only screen and (max-width: 596px)
  .header-button
    padding: 5px 12px

@media only screen and (max-width: 687px)
  .header-title
    font-size: 25px

  .header-button
    padding: 10px 24px  

@media only screen and (min-width: 688px) and (max-width: 1024px)
  .header-title
    font-size: 30px

  .header-button
    padding: 15px 30px

.about
  padding-top: 129px / 985px * 100vh 
  padding-top: 122px
  padding-bottom: 166px / 985px * 100vh
  // padding-bottom: 166px
  color: #000000
  background-color: #f8fafa


.title
  opacity: 0.9
  font-family: 'Montserrat', sans-serif
  font-size: 38px
  line-height: 34px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 0.06em
  color: #000000
  // margin-bottom: 17px
  text-align: center
  margin: 0 15px 17px

.title-descr
  opacity: 0.61
  font-family: 'Merriweather', serif
  font-size: 18px
  line-height: 28px
  font-weight: 400
  text-transform: uppercase
  letter-spacing: 0.06em
  // margin-bottom: 147px
  text-align: center
  margin: 0 15px 122px

.about-inner
  display: flex

.about-pic
  // background-color: green
  width: 392px
  height: 483px
  // margin-top: 45px
  margin-left: 208px / 1476px * 100%
  margin-right: 113px / 1476px * 100%

.about-text
  margin-right: 202px / 1476px * 100%
  width: 474px

.about-text-title
  opacity: 0.74
  font-family: 'Merriweather', serif
  font-size: 20px
  line-height: 28px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 0.06em
  margin-bottom: 31px

.about-text-main-text
  opacity: 0.74
  font-family: Raleway
  font-size: 16px
  line-height: 28px
  font-weight: 400
  letter-spacing: 0.05em
  margin-bottom: 38px

.about-text-sub-title
  opacity: 0.74
  font-family: 'Merriweather', serif
  font-size: 17px
  line-height: 28px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 0.06em
  margin-bottom: 27px

.about-text-sub-text
  opacity: 0.74
  font-family: 
  font-size: 16px
  line-height: 28px
  font-weight: 400
  letter-spacing: 0.05em

@media only screen and (max-width: 596px)
  .about-text
    width: 474px / 596px * 100%
    margin: 0 auto

  .about-pic
    width: 310px
    height: 393px



    
@media only screen and (max-width: 1124px)
  .about-inner
    display: block

  .about-pic
    margin: 0 auto 100px

  .about-text
    margin: 0 auto

  .title-descr
    margin: 0 auto 70px

.featured
  padding: 125px 0

.works
  // width: 1140px
  // width: 1140px / 1549px * 100%
  width: 85%
  margin: 0 auto
  // display: grid
  // grid-template-columns: repeat(auto-fit, 350px)
  // grid-template-rows: repeat(2, 359px)
  // grid-gap: 15px
  display: flex
  flex-wrap: wrap
  // justify-content: space-between

.work
  width: 360px
  margin: 15px auto
  
@media only screen and (max-width: 1124px)
  // .header,
  .about,
  .featured
    padding-top: 64px

  .header,
  .about,
  .featured
    padding-bottom: 64px